*.obj
*.tlog
*.sbd
*.pc
/rtsdr.sdf
/rtsdr.vcxproj.user
/rtsdr.opensdf
/libusb/MS32/dll
/libusb/MS64/dll/libusb-1.0.pdb
/libusb/MS64/dll/libusb-1.0.dll
/rtsdr.sln.docstates.suo
/rtsdr.suo
/ipch
/x64
/x64/debug
/x64/Release
/x64/Release/*.tlog
/Win32
/Win32/Debug
/Win32/Release
Release
Debug
*/Debug/*
*/Release/*
/RtlSdr Catalog/x86
/RtlSdr Catalog/x64
/x86
/RtlSdr++ Distribution
/*.zip
/rtlsdr.aps
/*.aps
